@import "tailwindcss";
@import "./styles/design-system.css";

/* ==========================
   Font
========================== */

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Heavy.ttf") format("truetype");
  font-weight: 900;
}

/* ==========================
   Global
========================== */

html,
body,
#root {
  font-family: "SUIT", sans-serif;
}

/* ==========================
   Utility
========================== */

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}